//$primary-color:#e8000d; // the primary color red from VEDA logo
$primary-color: black;
$secondary-color: black;
$accent-color: #e91e63;
$text-color: #000;
$font-family: 'Roboto', 'Open Sans', 'Lato';
$danger-color: #dc3545;
$success-color: #28a745;
$warning-color: #ffc107;
$leftPad: 33px;
$topPad: 22px;
$tabGroupTop: 0px;
$materialButtonDisabledColor: #e3e3e3;
$activeColor: #434343;
$inactiveColor: white; // #EAEAEA;
$toggleCheckedColor: $activeColor;
$radius: 8px;
