@import "../public/assets/scss/variables";
@import "../public/assets/scss/flex-grid";
@import "../public/assets/scss/loaders";
@import "../public/assets/scss/various";
@import "../public/assets/scss/single-property";
@import "../public/assets/scss/font-face";

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
